{
  "plugins": [
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV"]
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "modules": false,
        "forceAllTransforms": true,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
