#galleryContainer {
    border: 3px solid darkgray;
    border-radius: 10px;
    margin-top: 1%;
    width: 100%;
    height: 30vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #968a86;
    display: flex;
}

#lightgallery {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#lightgallery::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 2px;
}

#lightgallery::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

#lightgallery::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 2px;
}

.galleryItem {
    padding: 0 1%;
}

.galleryItem>img {
    border-radius: 20px;
    border: 1px solid lightgray;
}

.galleryItem>img:hover {
    box-shadow: 0px 0px 20px lightgray;
}