.contentRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    justify-content: flex-start;
}

#flag {
    height: 20%;
    width: 20%;
    position: absolute;
    right: 5%;
    top: 8%;
}

.popuplabel {
    text-decoration: underline;
    font-size: 0.8rem;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}