.contentRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    justify-content: flex-start;
}

#flag {
    height: 20%;
    width: 23%;
    position: absolute;
    right: 8%;
    top: 8%;
}

.popuplabel {
    text-decoration: underline;
    font-size: 0.8rem;
}